<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active"><a href="/feedback/dozenten">Übersicht</a></li>
            <li><a href="/feedback/dozenten/event/new">Neue Veranstaltung erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 class="display-4 text-center">Dozenten-Übersicht</h1>
    <h3 class="font-italic text-center">Willkommen auf der Dozenten-Übersicht des Feedback-Subsystems von MOPS.</h3>
    <div class="container">

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-3" th:each="veranstaltung : ${veranstaltungen}">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${veranstaltung.getName()}">Programmierung</h2>
                        <form class="form-horizontal"
                              method="get" th:action="'/feedback/dozenten/event/' + ${veranstaltung.veranstaltungsNr}">
                            <button class="btn btn-link btn-lg btn-block stretched-link" name="geteventbutton" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
