<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Fragebogen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fragebogen</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten">Übersicht</a></li>
            <li class="active"><a href="/feedback/dozenten/watch">Feedback ansehen</a></li>
            <li><a href="/feedback/dozenten/new">Neuen Fragebogen erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <h1 th:text="${fragebogen.veranstaltungsname}">Veranstaltung</h1>
        <h2 th:text="${fragebogen.professorenname}">Professor</h2>
        <div th:each="frage : ${fragebogen.fragen}">
            <h3 th:text="${frage.fragentext}">Fragetext</h3>
            <div class="form-group" th:if="${typechecker.isTextFrage(frage)}">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Antwort</th>
                            <th>Optionen</th>
                        </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                        <tr th:each="antwort : ${frage.antworten}">
                            <td th:text="${antwort.antworttext}">Der Dozent ist sehr motiviert und erklärt alles gut.</td>
                            <td>
                                <form class="form-horizontal" method="get" th:action="'/feedback/dozenten/watch/edit/' + ${fragebogen.bogennr} + '/' + ${frage.id} + '/' + ${antwort.id}">
                                    <button type="submit" name="editbutton" class="btn btn-primary">Antwort zensieren</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group" th:if="${typechecker.isMultipleChoice(frage)}">
                <ul th:each="choice : ${frage.choices}">
                    <li><span th:text="${choice.label}">Auswahlmöglichkeit</span>: <b><span th:text="${frage.holeErgebnis(choice)}">50</span>%</b></li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>
