<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten">Übersicht</a></li>
            <li><a href="/feedback/dozenten/watch">Feedback ansehen</a></li>
            <li class="active"><a href="/feedback/dozenten/new">Neuen Fragebogen erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 class="display-1">Dozenten-Übersicht</h1>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <form th:action="'/feedback/dozenten/new'" class="form-horizontal" method="post">
                    <div class="form-group row">
                        <label for="veranstaltung">Veranstaltung:</label>
                        <br>
                        <div class="input-group mb-3 col-sm-6">
                            <select id="veranstaltung" name="veranstaltung" required>
                                <div class="foo" th:each="veranstaltung : ${veranstaltungen}">
                                    <option th:value="${veranstaltung.name}" th:text="${veranstaltung.name}">Vorlesung</option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <hr class="m-5">
                    <div class="form-group row">
                        <label for="veranstaltungstyp">Veranstaltungstyp:</label>
                        <br>
                        <div class="input-group mb-3 col-sm-6">
                            <select id="veranstaltungstyp" name="veranstaltungstyp" required>
                                <option value="VORLESUNG">Vorlesung</option>
                                <option value="UEBUNG">Übung</option>
                                <option value="AUFGABE">Aufgabe</option>
                                <option value="PRAKTIKUM">Praktikum</option>
                                <option value="DOZENT">Dozent</option>
                                <option value="BERATUNG">Beratung</option>
                                <option value="GRUPPE">Gruppe</option>
                            </select>
                        </div>
                    </div>
                    <hr class="m-5">
                    <div class="form-group row">
                        <label for="startdatum">Startdatum:</label>
                        <br>
                        <div class="input-group mb-3 col-sm-6">
                            <input id="startdatum" name="startdatum" required type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="startzeit">Startzeit:</label>
                        <br>
                        <div class="input-group mb-3 col-sm-6">
                            <input id="startzeit" name="startzeit" required type="time">
                        </div>
                    </div>
                    <hr class="m-5">
                    <div class="form-group row">
                        <label for="end">Enddatum:</label>
                        <br>
                        <div class="input-group mb-3 col-sm-6">
                            <input id="enddatum" name="enddatum" required type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="endzeit">Endzeit: </label>
                        <br>
                        <div class="input-group mb-3 col-sm-6">
                            <input id="endzeit" name="endzeit" required type="time">
                        </div>
                    </div>
                    <button class="btn btn-primary" name="button" type="submit">Fragebogen erstellen</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
