<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten/">Übersicht</a></li>
            <li><a href="/feedback/dozenten/event/new">Neue Veranstaltung erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <h1 class="display-4 text-center">Fragebogen bearbeiten</h1>
        <h4 class="text-center">Fragebogen zur Einheit <span th:text="${neuerbogen.type.toString()}">Vorlesung</span>
            "<span th:text="${neuerbogen.veranstaltungsname}">Programmierung</span>"; verantwortlich: <span
                    th:text="${neuerbogen.professorenname}">Prof. Dr. Max Mustermann</span>
        </h4>
        <hr>
        <h3>Metadaten des Fragebogens</h3>
        <form class="was-validated text-center" method="post"
              th:action="'/feedback/dozenten/new/meta/' + ${neuerbogen.bogennr}">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <div class="form-group row">
                        <label for="veranstaltungstyp">Veranstaltungstyp (aktuell: <span
                                th:text="${neuerbogen.type}">PRAKTIKUM</span>):
                        </label>
                        <select class="custom-select" id="veranstaltungstyp"
                                name="veranstaltungstyp"
                                required>
                            <option value="VORLESUNG">Vorlesung</option>
                            <option value="UEBUNG">Übung</option>
                            <option value="AUFGABE">Aufgabe</option>
                            <option value="PRAKTIKUM">Praktikum</option>
                            <option value="DOZENT">Dozent</option>
                            <option value="BERATUNG">Beratung</option>
                            <option value="GRUPPE">Gruppe</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="startdatum">Startdatum (aktuell: <span
                                th:text="${datetime.getGermanFormat(neuerbogen.startdatum)}">Montag</span>):</label>
                        <input id="startdatum" name="startdatum" required type="date">
                    </div>
                    <div class="form-group row">
                        <label for="startzeit">Startzeit:</label>
                        <input id="startzeit" name="startzeit" required type="time">
                    </div>
                    <div class="form-group row">
                        <label for="enddatum">Enddatum (aktuell: <span
                                th:text="${datetime.getGermanFormat(neuerbogen.enddatum)}">Montag</span>):</label>
                        <input id="enddatum" name="enddatum" required type="date">
                    </div>
                    <div class="form-group row">
                        <label for="endzeit">Endzeit: </label>
                        <input id="endzeit" name="endzeit" required type="time">
                    </div>
                    <input id="veranstaltungid" name="veranstaltungid" th:value="${veranstaltung}"
                           type="hidden">
                    <button class="btn btn-outline-primary btn-group-sm" name="metabutton" type="submit">Metadaten
                        aktualisieren
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Bereits vorhandene Fragen</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Fragetext</th>
                                <th>Fragetyp</th>
                                <th>Optionen</th>
                                <th>Löschen</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="frage : ${neuerbogen.fragen}">
                                <td th:text="${frage.toString()}">Die Vorlesung ist strukturiert</td>
                                <td><span th:if="${typechecker.isTextFrage(frage)}">Textfrage</span><span
                                        th:if="${typechecker.isMultipleChoice(frage)}">Multiple Choice-Frage</span></td>
                                <td>
                                    <form class="form-horizontal" method="get"
                                          th:action="'/feedback/dozenten/new/questions/edit/' + ${neuerbogen.bogennr} + '/' + ${frage.id}"
                                          th:if="${typechecker.isMultipleChoice(frage)}">
                                        <input name="veranstaltungid" th:value="${veranstaltung}" type="hidden">
                                        <button class="btn btn-outline-info btn-sm" name="editbutton" type="submit">
                                            Auswahl Bearbeiten
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form class="form-horizontal" method="post"
                                          th:action="'/feedback/dozenten/new/questions/delete/' + ${neuerbogen.bogennr} + '/' + ${frage.id}">
                                        <input name="veranstaltungid" th:value="${veranstaltung}"
                                               type="hidden">
                                        <button class="btn btn-outline-danger btn-sm" name="deletebutton" type="submit">
                                            Löschen
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Fragen hinzufügen:</h3>
                        <form class="was-validated" method="post"
                              th:action="'/feedback/dozenten/new/questions/add/' + ${neuerbogen.bogennr}">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <input class="form-control" id="fragetext" name="fragetext"
                                           placeholder="Fragetext eingeben"
                                           required type="text">
                                    <br>
                                    <div class="form-group">
                                        <select class="custom-select" id="fragetyp" name="fragetyp" required>
                                            <option value="">Fragetyp wählen:</option>
                                            <option value="multiplechoice">Multiple Choice-Frage</option>
                                            <option value="textfrage">Textfrage</option>
                                        </select>
                                    </div>
                                    <input name="veranstaltungid" th:value="${veranstaltung}"
                                           type="hidden">
                                    <button class="btn btn-outline-primary" name="addbutton" type="submit">hinzufügen
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" method="get"
                              th:action="'/feedback/dozenten/event/' + ${veranstaltung}">
                            <button class="btn btn-primary" name="showbutton" type="submit">Zurück zur Veranstaltung
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
