<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten/">Übersicht</a></li>
            <li><a href="/feedback/dozenten/templates">Meine Fragebogen-Templates</a></li>
            <li><a href="/feedback/dozenten/event/new">Neue Veranstaltung erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <h1 class="display-4 text-center">Fragebogen bearbeiten</h1>
        <h3 class="text-center">Fragebogen zu: <span th:text="${neuerbogen.type.toString()}">Vorlesung</span>
            "<span th:text="${neuerbogen.veranstaltungsname}">Veranstaltung</span>" <br> Verantwortlich: <span
                    th:text="${neuerbogen.professorenname}">Professorenname</span>
        </h3>
    </div>
    <br>
    <div class="container">
        <h2>Metadaten des Fragebogens:</h2>
        <form class="was-validated" method="post"
              th:action="'/feedback/dozenten/new/meta/' + ${neuerbogen.bogennr}">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="startzeit">Name des Fragebogens:</label>
                    <input class="form-control" th:value="${neuerbogen.veranstaltungsname}" id="veranstaltungsname" name="veranstaltungsname" required type="text">
                    <label for="veranstaltungstyp">Veranstaltungstyp:</label>
                    <select class="custom-select" id="veranstaltungstyp"
                            name="veranstaltungstyp"
                            required>
                        <option value="VORLESUNG" th:selected="${neuerbogen.type.toString().equals('VORLESUNG')}">Vorlesung</option>
                        <option value="UEBUNG" th:selected="${neuerbogen.type.toString().equals('UEBUNG')}">Übung</option>
                        <option value="AUFGABE" th:selected="${neuerbogen.type.toString().equals('AUFGABE')}">Aufgabe</option>
                        <option value="PRAKTIKUM" th:selected="${neuerbogen.type.toString().equals('PRAKTIKUM')}">Praktikum</option>
                        <option value="DOZENT" th:selected="${neuerbogen.type.toString().equals('DOZENT')}">Dozent</option>
                        <option value="BERATUNG" th:selected="${neuerbogen.type.toString().equals('BERATUNG')}">Beratung</option>
                        <option value="GRUPPE" th:selected="${neuerbogen.type.toString().equals('GRUPPE')}">Gruppe</option>
                    </select>
                    <label for="startdatum">Startdatum: </label>
                    <input class="form-control" id="startdatum" name="startdatum" required th:value="${neuerbogen.startdatum.toLocalDate()}" type="date">
                    <label for="startzeit">Startzeit: </label>
                    <input class="form-control" id="startzeit" name="startzeit" required th:value="${datetime.getTimeFormat(neuerbogen.startdatum.toLocalTime())}" type="time">
                    <label for="enddatum">Enddatum: </label>
                    <input class="form-control" id="enddatum" name="enddatum" required th:value="${neuerbogen.enddatum.toLocalDate()}" type="date">
                    <label for="endzeit">Endzeit: </label>
                    <input class="form-control" id="endzeit" name="endzeit" required th:value="${datetime.getTimeFormat(neuerbogen.enddatum.toLocalTime())}" type="time">
                    <input id="veranstaltungid" name="veranstaltungid" th:value="${veranstaltung}"
                           type="hidden">
                    <br>
                    <button class="btn btn-outline-primary btn-sm" name="metabutton" type="submit">Metadaten
                        aktualisieren
                    </button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <h2>Bereits vorhandene Fragen:</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Fragetext</th>
                <th>Fragetyp</th>
                <th>Optionen</th>
                <th>Löschen</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="frage : ${neuerbogen.fragen}">
                <td th:text="${frage.toString()}">Frage</td>
                <td><span th:if="${typechecker.isTextFrage(frage)}">Textfrage</span><span
                        th:if="${typechecker.isSingleResponse(frage)}">Multiple Choice-Frage</span><span th:if="${typechecker.isMultipleResponse(frage)}">Multiple Response-Frage</span></td>
                <td>
                <form class="form-horizontal" method="get"
                      th:action="'/feedback/dozenten/new/questions/edit/' + ${neuerbogen.bogennr} + '/' + ${frage.id}"
                      th:if="${typechecker.isMultipleChoice(frage)}">
                    <input name="veranstaltungid" th:value="${veranstaltung}" type="hidden">
                    <button class="btn btn-outline-info btn-sm" name="editbutton" type="submit">
                        Auswahl Bearbeiten
                    </button>
                </form>
                </td>
                <td>
                    <form class="form-horizontal" method="post"
                          th:action="'/feedback/dozenten/new/questions/delete/' + ${neuerbogen.bogennr} + '/' + ${frage.id}">
                        <input name="veranstaltungid" th:value="${veranstaltung}"
                               type="hidden">
                        <button class="btn btn-outline-danger btn-sm" name="deletebutton" type="submit">
                            Löschen
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <h2>Fragen hinzufügen:</h2>
        <form class="was-validated" method="post"
              th:action="'/feedback/dozenten/new/questions/add/' + ${neuerbogen.bogennr}">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input class="form-control" id="fragetext" name="fragetext"
                           placeholder="Fragetext eingeben"
                           required type="text">
                    <br>
                    <div class="form-group">
                        <select class="custom-select" id="fragetyp" name="fragetyp" required>
                            <option value="">Fragetyp wählen:</option>
                            <option value="multiplechoice">Multiple Choice-Frage</option>
                            <option value="textfrage">Textfrage</option>
                            <option value="multipleresponse">Multiple Response-Frage</option>
                        </select>
                    </div>
                    <input name="veranstaltungid" th:value="${veranstaltung}"
                           type="hidden">
                    <button class="btn btn-outline-primary" name="addbutton" type="submit">hinzufügen</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <form class="form-horizontal" method="get"
              th:action="'/feedback/dozenten/event/' + ${veranstaltung}">
            <button class="btn btn-outline-secondary btn-sm" name="showbutton" type="submit">Zurück zur Veranstaltung</button>
        </form>
    </div>
</main>
</body>
</html>
