<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten">Übersicht</a></li>
            <li><a href="/feedback/dozenten/watch">Feedback ansehen</a></li>
            <li class="active"><a href="/feedback/dozenten/new">Neuen Fragebogen erstellen</a></li>
            <li><a href="/feedback/dozenten/kontakt">Tickets</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 class="display-1">Dozenten-Übersicht</h1>
    <h4>Frage: <span th:text="${frage.fragentext}">Die Vorlesung ist strukturiert</span></h4>
    <hr class="m-5">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Bereits vorhandene Antwortmöglichkeiten</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Antwortmöglichkeit</th>
                                <th>Löschen</th>
                            </tr>
                        </thead>
                        <tbody th:remove="all-but-first">
                            <tr th:each="choice : ${frage.choices}">
                                <td th:text="${choice.label}">Die Vorlesung ist strukturiert</td>
                                <td>
                                    <form class="form-horizontal" method="post">
                                        <button type="submit" name="deletebutton" class="btn btn-primary">Löschen</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-5">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Antwortmöglichkeit hinzufügen</h3>
                    <form class="form-horizontal" method="post">
                        <div class="input-group mb-3 col-sm-6">
                            <input class="form-control" id="antworttext" name="antworttext" placeholder="Hier den Auswahltext eingeben" required type="text">
                        </div>
                        <button class="btn btn-primary" name="addbutton" type="submit" th:action="'/feedback/dozenten/new/questions/mc/add/' + ${fragebogen} + '/' + ${frage.id}">Antwortmöglichkeit hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
