<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten">Übersicht</a></li>
            <li class="active"><a href="/feedback/dozenten/event/new">Neue Veranstaltung erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 class="display-4 text-center">Neue Veranstaltung erstellen</h1>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <form class="was-validated" method="post" th:action="'/feedback/dozenten/event/new'">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input class="form-control" id="veranstaltungsname" name="veranstaltungsname" placeholder="Name der Veranstaltung" required type="text">
                            <br>
                            <div class="form-group">
                            <input class="form-control" id="semester" name="semester" placeholder="Hier das entsprechende Semester eingeben" required type="text">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-success" name="createbutton" type="submit">Veranstaltung erstellen</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
