<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a href="/feedback/dozenten">Übersicht</a></li>
            <li class="active"><a href="/feedback/dozenten/templates">Meine Fragebogen-Templates</a></li>
            <li><a href="/feedback/dozenten/event/new">Neue Veranstaltung erstellen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 class="display-4 text-center">Meine Fragebogen-Templates</h1>
    <div class="row container">
        <table class="table">
            <thead>
            <tr>
                <th>Name des Templates</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="template : ${templates}">
                    <td th:text="${template.name}">Name</td>
                    <td>
                        <form class="form-horizontal" th:action="'/feedback/dozenten/templates/' + ${template.id}" method="get">
                            <button class="btn btn-outline-info btn-sm" name="editbutton" type="submit">Bearbeiten</button>
                        </form>
                    </td>
                    <td>
                        <form class="form-horizontal" th:action="'/feedback/dozenten/templates/delete/' + ${template.id}" method="post">
                            <button class="btn btn-outline-danger btn-sm" name="deletebutton" type="submit">Löschen</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row container">
        <form class="form-horizontal was-validated" th:action="'/feedback/dozenten/templates'" method="post">
            <label for="templatename">Template hinzufügen: </label>
            <div class="input-group mb-3 col-sm-6">
                <input class="form-control" id="templatename" name="templatename" placeholder="Hier den Namen eingeben" required type="text">
            </div>
            <button class="btn btn-primary" name="createbutton" type="submit">Neues Template erstellen</button>
        </form>
    </div>
</main>
</body>
</html>
