<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <div th:replace="fragments :: navlist">test</div>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="card-deck">
        <div class="card text-center" style="width: 22rem;">
            <img alt="Card image cap" class="img-thumbnail" src="...">
            <div class="card-body">
                <h2 class="card-title">Programmierung Übung</h2>
                <a class="btn btn-primary" href="./details">Feedback Geben!</a>
            </div>
        </div>
        <div class="card text-center" style="width: 22rem;">
            <img alt="Card image cap" class="card-img-top" src="...">
            <div class="card-body">
                <h2 class="card-title">Algorithmen und Daten Strukturen Übung</h2>
                <a class="btn btn-primary" href="./details">Feedback Geben!</a>
            </div>
        </div>
    </div>
    <hr>
    <p>
</main>
</body>
</html>