<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Übersicht</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->
    <h1 th:text="'Übersicht zur Veranstaltung ' + ${verName}"></h1>

    <h2>Veranstaltungs Einheiten</h2>
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Feedback</th>
            <th scope="col">Default Formular</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="veranstaltung : ${veranstaltungen}">
            <td th:text="${veranstaltung}">name</td>
            <td>
                <a th:href="@{/creatForm(id=${bogennr})}">
                    <button class="btn btn-danger" type="submit">Create</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/details'}">
                    <button class="btn btn-danger" type="submit">view</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>