<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Fragebogen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fragebogen</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a th:href="@{/}">Startseite</a></li>
            <li><a th:href="@{/kontakt}">Contact us</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <h1 th:text="${fragebogen.veranstaltungsname}">Veranstaltung</h1>
        <h2 th:text="${fragebogen.professorenname}">Professor</h2>
        <form action="/details" method="post">
            <div th:each="frage : ${fragebogen.fragen}">
                <div class="form-group" th:if="${typeChecker.isTextFrage(frage)}">
                    <label for="textfrage" th:text="${frage.fragentext}">Label</label>
                    <textarea class="form-control" id="textfrage"></textarea>
                </div>
                <div class="form-group" th:if="${typeChecker.isMultipleChoice(frage)}">
                    <h5 th:text="${frage.fragentext}">Fragetext</h5>
                    <div class="form-check form-check-inline" th:each="choice : ${frage.choices}">
                        <input class="form-check-input" id="multiple-choice" type="checkbox">
                        <label for="multiple-choice" th:text="${choice.label}">Label</label>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</main>
</body>
</html>