<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Fragebogen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fragebogen</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <div th:replace="fragments :: navlist">navlist</div>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 th:text="${fragebogen.veranstaltungsname}">Veranstaltung</h1>
    <h2 th:text="${fragebogen.professorenname}">Professor</h2>
    <form action="/details" method="post">
        <div class="container" th:each="frage : ${fragebogen.fragen}" th:remove="all-but-first">
            <div class="form-group">
                <label for="textfrage" th:text="${frage.fragentext}">Label</label>
                <textarea class="form-control" id="textfrage"></textarea>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>