<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a th:href="@{/feedback/studenten}">Übersicht</a></li>
            <li><a th:href="@{/feedback/studenten/ergebnis}">Evaluationsergebnisse</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <h1 class="display-3 text-center">Ergebnisse</h1>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-3" th:each="fragebogen :${frageboegen}">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${fragebogen.veranstaltungsname}">Veranstaltung</h2>
                        <a class="btn btn-primary"
                           th:href="@{details(fragebogen=${fragebogen.bogennr},veranstaltung=${veranstaltung.veranstaltungsNr})}">
                            Ergebnis ansehen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>