<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Feedback</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li><a th:href="@{/feedback/student/}">Übersicht</a></li>
            <li><a th:href="@{/feedback/student/ergebnis}">Evaluationsergebnisse</a></li>
            <li class="active"><a th:href="@{/feedback/student/kontakt}">Kontakt</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->
    <h1>Kontaktformular abschicken</h1>
    <div class="container">
        <form action="#" class="form-horizontal" method="post" th:action="@{/feedback/kontakt}"
              th:object="${kontaktformular}">
            <fieldset>
                <legend class="text-center header">Kontaktieren Sie uns!</legend>
                <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i
                            class="fa fa-phone-square bigicon"></i></span>
                    <div class="col-md-8">
                        Dozent: <select name="dozent" th:remove="all-but-first">
                        <option th:each="d : ${dozenten}" th:selected="${d.id==kontaktformular.dozent}"
                                th:text="${d.nachname}"
                                th:value="${d.id}" value="k1">Dozent
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i
                            class="fa fa-phone-square bigicon"></i></span>
                    <div class="col-md-8">
                        <input class="form-control" id="betreff" name="betreff"
                               placeholder="Betreff" th:field="${kontaktformular.betreff}" type="text">
                    </div>
                </div>
                <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                    class="fa fa-phone-square bigicon"></i></span>
                    <div class="col-md-8">
                        <textarea class="form-control" id="text" name="text"
                                  placeholder="Ihr Anliegen..." th:field="${kontaktformular.text}"
                                  type="text"></textarea>
                    </div>
                </div>
            </fieldset>
            <button class="btn btn-primary" type="submit">Formular abschicken</button>
        </form>
    </div>
</main>
</body>
</html>
