<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='feedback', title='Optional: Tabtitel', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Name des Subsystems</title>

</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active"><a th:href="@{/feedback/studenten}">Übersicht</a></li>
            <li><a th:href="@{/feedback/studenten/ergebnis}">Evaluationsergebnisse</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <h1 class="display-3 text-center">Veranstaltungen</h1>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-3" th:each="veranstaltung,iter :${veranstaltungen}">
                <div class="card text-center h-100">
                    <div class="card-body">

                        <a class=" btn btn-link btn-sm stretched-link"
                           th:href="@{/feedback/studenten/frageboegen(veranstaltungId=${veranstaltung.veranstaltungsNr})}"
                           th:id="'button' + ${iter.index}"
                           th:text="${veranstaltung.getName()}" >
                        </a>

                        <p th:text="${veranstaltung.getDozent().getNachname()}"></p>
                        <p th:text="${veranstaltung.getSemester()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>